<div class="container" id="home-container">
	<div class="jumbotron text-center">
		<h1 class="display-4">This is the Home Page!</h1>
		<p id="jumbo-p"><%= link_to 'About page', about_path %> | <%= link_to 'Articles page', articles_path %></p>
		<%= link_to "Sign up!", signup_path, class: "btn btn-primary btn-l" %>
	</div>
</div>



<footer id="sticky-footer" class="py-4 bg-dark text-white">
	<div class="container text-center">
		<small>Copyright &copy; Your website</small>
	</div>
</footer>